{% extends 'base.html' %}
{% load static %}

{% block title %}About PRIDA{% endblock %}

{% block content %}
<!-- Page Navigation -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>PRIDA</h2>
            <ul>
                <li><a href="{% url 'home' %}"><i class="fas fa-home"></i>Начало</a></li>
                <li><i class="fas fa-angle-double-right"></i> За Нас</li>
            </ul>
        </div>
    </div>
</div>


<section class="with-medical">
  <div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12" style="padding-top: 60px;">
          <a href="https://biomed.bas.bg/bg/" target="_blank">
    <img src="{% static 'images/institut.jpg' %}" alt="Why PRIDA" 
         style="width: 85%; height: auto; display: block; margin: 0 auto; cursor: pointer;">
</a>
        </div>
        <div class="col-lg-6 col-md-12 txtr">
    <h4>За нас</h4>
    <p style="text-align: justify; text-indent: 0;">Проект PRIDA се разработва в Институт по биофизика и биомедицинско инженерство към Българска академия на науките (ИБФБМИ-БАН, <a href="https://biomed.bas.bg/bg/" target="_blank" style="color: #007bff; text-decoration: underline;">https://biomed.bas.bg/bg/</a>). Институтът е водещ изследователски институт в България в областта на биофизиката, биохимията, биомедицинaта, хемоинформатиката и биоинформатиката, биомедицинското инженерство. ИБФБМИ провежда научни и научно-приложни изследвания на високо научно ниво в съответствие със световните научни стандарти в областта на биомедицината и качеството на живот в полза на обществото и науката и демонстрира успешен трансфер на технологии към други институти на БАН, университети, клиники и компании. 
    <br> Научният екип по проекта е със силно изразен интредициплинарен профил.
    </p>
</div>
    </div>
</div>
    
</section>
<div class="team-gallery py-5">
    <div class="container">
        <h2 class="text-center mb-5">Научен екип</h2>
        <div class="row">
            <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Проф. д-р Таня Пенчева</h5>
                        <p class="card-text">Ръководител</p>
                        <a href="https://biomed.bas.bg/bg/tania-pencheva/" target="_blank" class="btn btn-primary">Информация</a>
                    </div>
                </div>
            </div>
            <!-- Team Member -->
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Проф. д-р Светла Тодинова</h5>
                        <br> <a href="https://biomed.bas.bg/bg/svetla-todinova/" target="_blank" class="btn btn-primary">Информация</a>
                    </div>
                </div>
            </div>
            <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Проф. д-р Сашка Крумова</h5>
                        <br><a href="https://biomed.bas.bg/bg/sashka-krumova/" target="_blank" class="btn btn-primary">Информация</a>
                    </div>
                </div>
            </div>
            <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Проф. д-р Алексей Савов, д.м.</h5>
                        <br><a href="https://genetika.maichindom.com/%D0%B7%D0%B0-%D0%BD%D0%B0%D1%81/%D0%B5%D0%BA%D0%B8%D0%BF/%D0%B1%D0%B8%D0%BE%D0%B3%D1%80%D0%B0%D1%84%D0%B8%D1%8F-%D0%BD%D0%B0-%D0%B4%D0%BE%D1%86-%D0%B0%D0%BB%D0%B5%D0%BA%D1%81%D0%B5%D0%B9-%D1%81%D0%B0%D0%B2%D0%BE%D0%B2-%D0%B4%D0%B1/" target="_blank" class="btn btn-primary">Информация</a>
                    </div>
                </div>
            </div>
            <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Проф. дбн Стефка Танева</h5>
                        <br><a href="https://biomed.bas.bg/bg/stefka-taneva/" target="_blank" class="btn btn-primary">Информация</a>
                    </div>
                </div>
            </div>
            <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Проф. д-р Иванка Цаковска</h5>
                        <br> <a href="https://biomed.bas.bg/bg/ivanka-tsakovska/" target="_blank" class="btn btn-primary">Информация</a>
                    </div>
                </div>
            </div>

                      <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Доц. д-р Тихомир Тянков</h5>
                        <br><a href="https://www.imbm.bas.bg/index.php?page=185" target="_blank" class="btn btn-primary">Информация</a>
                    </div>
                </div>
            </div>
            <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Доц. д-р Емилия Абаджиева</h5>
                        <br><a href="https://www.imbm.bas.bg/index.php?page=135" target="_blank" class="btn btn-primary">Информация</a>
                    </div>
                </div>
            </div>

               <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Гл. ас. д-р Аника Александрова</h5>
                        <br><a href="https://www.imbm.bas.bg/index.php/bg_BG/mechanics-of-multibody-systems" target="_blank" class="btn btn-primary">Информация</a>
                    </div>
                </div>
            </div>

              <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Доц. д-р Вася Атанасова</h5>
                        <br><a href="https://biomed.bas.bg/bg/vassia-atanassova/" target="_blank" class="btn btn-primary">Информация</a>
                    </div>
                </div>
            </div>
 <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Гл. ас. д-р Весела Катрова</h5>
                        <br><a href="https://www.researchgate.net/profile/Vesela-Katrova" target="_blank" class="btn btn-primary">Информация</a>
                    </div>
                </div>
            </div>
            <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Гл. ас. д-р Ариана Лангари</h5>
                        <br><a href="https://biomed.bas.bg/bg/ariana-langari/" target="_blank" class="btn btn-primary">Информация</a>
                    </div>
                </div>
            </div>
            <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Гл. ас. д-р Елина Белева, д.м.</h5>
                        <br> <a href="https://biomed.bas.bg/bg/elina-beleva/" target="_blank" class="btn btn-primary">Информация</a>
                    </div>
                </div>
            </div>
           
            <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">д-р Ина Гьошева, д.м.</h5>
                       <br>
                        <a href="https://biomed.bas.bg/bg/ina-gyosheva/" target="_blank" class="btn btn-primary">Информация</a>
                    </div>
                </div>
            </div>
            <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Петко Алов</h5>
                        <br> <a href="https://biomed.bas.bg/bg/petko-alov/" target="_blank" class="btn btn-primary">Информация</a>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</div>


<!-- Key Features Section -->
<!--  <section class="key-features">
    <div class="row no-margin">
        <div class="col-md-3 kvxol col-sm-6">
            <div class="single-key ky-1">
                <i class="fas fa-hospital-alt"></i>
                <h5>Newest Technologies</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
            </div>
        </div>
        <div class="col-md-3 kvxol col-sm-6">
            <div class="single-key ky-2">
                <i class="fas fa-user-md"></i>
                <h5>Task</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
            </div>
        </div>
        <div class="col-md-3 kvxol col-sm-6">
            <div class="single-key ky-1">
                <i class="fas fa-briefcase-medical"></i>
                <h5>Ideas</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
            </div>
        </div>
        <div class="col-md-3 kvxol col-sm-6">
            <div class="single-key ky-2">
                <i class="fas fa-capsules"></i>
                <h5>Methods</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
            </div>
        </div>
    </div>
</section> --> 

<!-- Our Team Section -->
<!--  <section class="our-team">
    <div class="container">
        <div class="inner-title">
            <h2>Meet our Team</h2>
            <p>Take a look at the scientists involved in this project</p>
        </div>
        <div class="row team-member">
            <div class="col-md-3 col-sm-6">
                <div class="user-card">
                    <div class="userar">
                        <img class="teammempic" src="{% static 'images/team/team-memb1.jpg' %}" alt="">
                    </div>
                    <div class="detfs">
                        <p>Mark Frances<i> - MD</i></p>
                        <p>3+ Years of Experience in PHP with good innovative Ideas</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="user-card">
                    <div class="userar">
                        <img class="teammempic" src="{% static 'images/team/team-memb2.jpg' %}" alt="">
                    </div>
                    <div class="detfs">
                        <p>д-р Ина Гьошева</p>
                        <p>Д-р Ина Гьошева е специалист акушер-гинеколог в София с над 8 години медицински опит.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="user-card">
                    <div class="userar">
                        <img class="teammempic" src="{% static 'images/team/team-memb3.jpg' %}" alt="">
                    </div>
                    <div class="detfs">
                        <p>Mark Frances<i> - MD</i></p>
                        <p>3+ Years of Experience in PHP with good innovative Ideas</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="user-card">
                    <div class="userar">
                        <img class="teammempic" src="{% static 'images/team/team-memb4.jpg' %}" alt="">
                    </div>
                    <div class="detfs">
                        <p>Mark Frances<i> - MD</i></p>
                        <p>3+ Years of Experience in PHP with good innovative Ideas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  -->
{% endblock %}
