{% extends "base.html" %}
{% load static %}

{% block title %}Микрофлуидна система{% endblock %}

{% block content %}
<!-- ######## Page Title ######## -->
<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Микрофлуидна система</h2>
            <ul>
                <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Начало</a></li>
                <li><i class="fas fa-angle-double-right"></i> Микрофлуидна система</li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid bioflux-container">
    <div class="container">
        <!-- BioFlux System: -->
        <div class="bioflux-row">
            <div class="bioflux-image-wrapper">
                <div class="bioflux-single-image">
                    <a href="{% static 'images/blog/msystema.jpg' %}" target="_blank">
                        <img src="{% static 'images/blog/msystema.jpg' %}" 
                             class="bioflux-img" 
                             alt="Микрофлуидна система">
                    </a>
                </div>

                <div class="bioflux-single-image">
                    <a href="{% static 'images/blog/bioflux2.jpg' %}" target="_blank">
                        <img src="{% static 'images/blog/bioflux2.jpg' %}" 
                             class="bioflux-img" 
                             alt="Микрофлуидна система 2">
                    </a>
                </div>
            </div>
            
            <div class="bioflux-content">
                <h4>Доставка на микрофлуидна система с приложения в биомедицината</h4>
                
                <p>
                    През месец август 2025 г. в Института по биофизика и биомедицинско инженерство към Българска академия на науките e доставена <i><b>микрофлуидна система с приложения в биомедицината</b></i>, във връзка с изпълнение на проект BG-RRP-2.011-0025 "Създаване на база данни за патологична бременност и извличане 
на нови знания с цел идентифициране на диагностични маркери" (<i><b>P</b>regnancy <b>R</b>elated <b>I</b>ntegrated <b>D</b>atabase <b>A</b>nalytics, <b>PRIDA</b></i>), финансиран от Европейски съюз чрез инструмента СледващоПоколениеЕС (NextGenerationEU) по Механизъм за възстановяване и устойчивост в изпълнение на инвестиция C2I2: "Повишаване на иновационния капацитет на Българската академия на науките (БАН) в сферата на зелените и цифровите технологии".
                </p>
                
                <p>
                    Микрофлуиднaтa система представлява висококачествена образна платформа за провеждане на физиологични анализи в поток до 200 dyn/cm². Системата се състои се от електропневматична помпа BioFlux 1000НТ за контрол на потока, комбинирана с инвертен микроскоп Zeiss Axiovert 5.
                </p>
                
                <p>
                   Така конфигурирана, микрофлуидната система може да намери приложение в области като хематология, имунология, съдова биология и микробиология, и предоставя възможности за изследване на реологични свойства на клетки, образуване на биофилм, взаимодействия между гостоприемник и патоген, клетъчна диференциация, хемотаксис и др.
                </p>
                
                <p>
                    В изпълнение на целите на проекта PRIDA, микрофлуидната система ще бъде приложена за генериране на нови данни за реологичните свойства на еритроцити (деформируемост, агрегация), като индикатори за микросъдови нарушения при патологична бременност, което ще позволи разширяване на анализа на взаимовръзки między клинични и биофизични характеристики при патологична бременност. Впоследствие, тези биофизични параметри ще бъдат въведени в интегрирана база данни с цел дефиниране на нови прогностични маркери/индикатори.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}