{% extends 'base.html' %}
{% block title %}
    Register a New User
{% endblock %}
{% block content %}
<!--    <h1>Register a New User</h1>-->
    <h1 class="text-center fs-1 fw-bold">Register a New User!</h1>
<!--    <h1 class="display-1">My Heading</h1>-->
    <form class="form-with-validation fs-3 text-center" action="/users/register/"
          method="post">

<!--<form method="POST" novalidate>-->
    {% csrf_token %}

        {{ form }}

        <button class="btn btn-primary btn-lg">Submit</button>

</form>


{% endblock content %}