{% extends 'base-emi.html' %}
{% load static %}

{% block title %}About PRIDA{% endblock %}

{% block content %}
<!-- Page Navigation -->
<div id="nav-head" class="header-nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 no-padding col-sm-12 nav-img">
                <img src="{% static 'images/logo.jpg' %}" alt="Logo">
                <a data-toggle="collapse" data-target="#menu" href="#menu"><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
            </div>
            <div id="menu" class="col-lg-8 col-md-9 d-none d-md-block nav-item">
                <ul>
                    <li><a href="{% url 'home_eng' %}">Home</a></li>
                    <li><a href="{% url 'about_us_eng' %}">About Us</a></li>
                    <li><a href="{% url 'services_menu_eng' %}">Activities</a></li>
                    <li><a href="{% url 'news_eng' %}">News</a></li>
                    <li><a href="{% url 'contact_us_eng' %}">Contacts</a></li>
                    <li><a href="{% url 'about_us_emi' %}">Bulgarian</a></li>
                </ul>
            </div>
            <div class="col-sm-2 d-none d-lg-block appoint">
                {% if user.is_authenticated %}
                <div class="user-info">
                    <span class="navbar-text">{{ user.username }}</span>
                    <a href="{% url 'logout' %}" class="btn btn-danger btn-sm">Logout</a>
                </div>
                {% else %}
                <div class="auth-buttons">
                    <a href="{% url 'login_eng' %}" class="btn btn-primary btn-sm">Login to database</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<section class="with-medical">
  <div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-12" style="padding-top: 60px;">
          <a href="https://biomed.bas.bg/bg/" target="_blank">
    <img src="{% static 'images/blog/logo-en-vertical-rgb.png' %}" alt="Why PRIDA"
         style="width: 85%; height: auto; display: block; margin: 0 auto; cursor: pointer;">
</a>
        </div>
        <div class="col-lg-6 col-md-12 txtr">
    <h4>About us</h4>
    <p style="text-align: justify; text-indent: 0;">The PRIDA project is implemented at the Institute of Biophysics and Biomedical Engineering at the Bulgarian Academy of Sciences (IBPhBME-BAS, <a href="https://biomed.bas.bg/bg/" target="_blank" style="color: #007bff; text-decoration: underline;">https://biomed.bas.bg/bg/</a>). The Institute is a leading research institute in Bulgaria in the field of biophysics, biochemistry, biomedicine, chemoinformatics and bioinformatics, biomedical engineering. IBPhBME conducts scientific and scientific-applied research at a high scientific level in accordance with world scientific standards in the field of biomedicine and quality of life for the benefit of society and science and demonstrates successful technology transfer to other BAS institutes, universities, clinics and companies.
    <br> The scientific team on the project has a strong interdisciplinary profile.
    </p>
</div>
    </div>
</div>

</section>
<div class="team-gallery py-5">
    <div class="container">
        <h2 class="text-center mb-5">Scientific team</h2>
        <div class="row">
            <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Prof. Tania Pencheva, PhD</h5>
                        <p class="card-text">Project Leader</p>
                        <a href="https://biomed.bas.bg/en/tania-pencheva/" target="_blank" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
            <!-- Team Member -->
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Prof. Svetla Todinova, PhD</h5>
                        <br> <a href="https://biomed.bas.bg/en/svetla-todinova/" target="_blank" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
            <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Prof. Sashka Krumova, PhD</h5>
                        <br><a href="https://biomed.bas.bg/en/sashka-krumova/" target="_blank" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
            <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Prof. Alexey Savov, PhD, MD</h5>
                        <br><a href="https://www.researchgate.net/profile/Alexey-Savov" target="_blank" class="btn btn-primary">Информация</a>
                    </div>
                </div>
            </div>
            <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Prof. Stefka Taneva, DSc</h5>
                        <br><a href="https://biomed.bas.bg/en/stefka-taneva/" target="_blank" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
            <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Prof. Ivanka Tsakovska, PhD</h5>
                        <br> <a href="https://biomed.bas.bg/en/ivanka-tsakovska/" target="_blank" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>

                      <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Assoc. Prof. Tihomir Tiankov, PhD</h5>
                        <br><a href="https://www.imbm.bas.bg/index.php?page=185" target="_blank" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
            <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Assoc. Prof. Emilia Abadjieva, PhD</h5>
                        <br><a href="https://www.imbm.bas.bg/index.php/en_US/research-fields/mechanics-of-multibody-systems/emilia-valentinova-abadjieva" target="_blank" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>

               <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Sen. Assist. Prof. Anika Alexandrova, PhD</h5>
                        <br><a href="https://orcid.org/0009-0005-1874-4352" target="_blank" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>

              <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Assoc. Prof. Vassia Atanassova, PhD</h5>
                        <br><a href="https://biomed.bas.bg/en/vassia-atanassova/" target="_blank" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
 <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Sen. Assist. Prof. Vesela Katrova, PhD</h5>
                        <br><a href="https://www.researchgate.net/profile/Vesela-Katrova" target="_blank" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
            <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Sen. Assist. Prof. Ariana Langari, PhD</h5>
                        <br><a href="https://biomed.bas.bg/en/ariana-langari/" target="_blank" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
            <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Sen. Assist. Prof. Elina Beleva, PhD, MD</h5>
                        <br> <a href="https://biomed.bas.bg/en/elina-beleva/" target="_blank" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>

            <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Ph.D. Ina Gyosheva</h5>
                       <br>
                        <a href="https://biomed.bas.bg/en/ina-gyosheva/" target="_blank" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
            <!-- Team Member -->
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <h5 class="card-title">Petko Alov</h5>
                        <br> <a href="https://biomed.bas.bg/en/petko-alov/" target="_blank" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Key Features Section -->
<!--  <section class="key-features">
    <div class="row no-margin">
        <div class="col-md-3 kvxol col-sm-6">
            <div class="single-key ky-1">
                <i class="fas fa-hospital-alt"></i>
                <h5>Newest Technologies</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
            </div>
        </div>
        <div class="col-md-3 kvxol col-sm-6">
            <div class="single-key ky-2">
                <i class="fas fa-user-md"></i>
                <h5>Task</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
            </div>
        </div>
        <div class="col-md-3 kvxol col-sm-6">
            <div class="single-key ky-1">
                <i class="fas fa-briefcase-medical"></i>
                <h5>Ideas</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
            </div>
        </div>
        <div class="col-md-3 kvxol col-sm-6">
            <div class="single-key ky-2">
                <i class="fas fa-capsules"></i>
                <h5>Methods</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut erat nec leo lobortis blandit.</p>
            </div>
        </div>
    </div>
</section> -->

<!-- Our Team Section -->
<!--  <section class="our-team">
    <div class="container">
        <div class="inner-title">
            <h2>Meet our Team</h2>
            <p>Take a look at the scientists involved in this project</p>
        </div>
        <div class="row team-member">
            <div class="col-md-3 col-sm-6">
                <div class="user-card">
                    <div class="userar">
                        <img class="teammempic" src="{% static 'images/team/team-memb1.jpg' %}" alt="">
                    </div>
                    <div class="detfs">
                        <p>Mark Frances<i> - MD</i></p>
                        <p>3+ Years of Experience in PHP with good innovative Ideas</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="user-card">
                    <div class="userar">
                        <img class="teammempic" src="{% static 'images/team/team-memb2.jpg' %}" alt="">
                    </div>
                    <div class="detfs">
                        <p>д-р Ина Гьошева</p>
                        <p>Д-р Ина Гьошева е специалист акушер-гинеколог в София с над 8 години медицински опит.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="user-card">
                    <div class="userar">
                        <img class="teammempic" src="{% static 'images/team/team-memb3.jpg' %}" alt="">
                    </div>
                    <div class="detfs">
                        <p>Mark Frances<i> - MD</i></p>
                        <p>3+ Years of Experience in PHP with good innovative Ideas</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="user-card">
                    <div class="userar">
                        <img class="teammempic" src="{% static 'images/team/team-memb4.jpg' %}" alt="">
                    </div>
                    <div class="detfs">
                        <p>Mark Frances<i> - MD</i></p>
                        <p>3+ Years of Experience in PHP with good innovative Ideas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>  -->
{% endblock %}
