{% extends 'base-emi.html' %}
{% load static %}

{% block title %}Контакти{% endblock %}

{% block content %}
<div id="nav-head" class="header-nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 no-padding col-sm-12 nav-img">
                <img src="{% static 'images/logo.jpg' %}" alt="Logo">
                <a data-toggle="collapse" data-target="#menu" href="#menu"><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
            </div>
            <div id="menu" class="col-lg-8 col-md-9 d-none d-md-block nav-item">
                <ul>
                    <li><a href="{% url 'home_eng' %}">Home</a></li>
                    <li><a href="{% url 'about_us_eng' %}">About Us</a></li>
                    <li><a href="{% url 'services_menu_eng' %}">Activities</a></li>
                    <li><a href="{% url 'news_eng' %}">News</a></li>
                    <li><a href="{% url 'contact_us_eng' %}">Contacts</a></li>
                    <li><a href="{% url 'contact_us_emi' %}">Bulgarian</a></li>
                </ul>
            </div>
            <div class="col-sm-2 d-none d-lg-block appoint">
                {% if user.is_authenticated %}
                <div class="user-info">
                    <span class="navbar-text">{{ user.username }}</span>
                    <a href="{% url 'logout' %}" class="btn btn-danger btn-sm">Logout</a>
                </div>
                {% else %}
                <div class="auth-buttons">
                    <a href="{% url 'login_eng' %}" class="btn btn-primary btn-sm">Login to database</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div style="margin-top:0px;" class="row no-margin">
        <iframe style="width:100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2933.486543946461!2d23.362515176591998!3d42.67223501532131!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa85d075afd82f%3A0x38befc9750666a82!2z0JjQvdGB0YLQuNGC0YPRgiDQv9C-INCx0LjQvtGE0LjQt9C40LrQsCDQuCDQsdC40L7QvNC10LTQuNGG0LjQvdGB0LrQviDQuNC90LbQtdC90LXRgNGB0YLQstC-IOKAkyDQkdCQ0J0!5e0!3m2!1sbg!2sbg!4v1720616652915!5m2!1sbg!2sbg" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

<div class="row contact-rooo no-margin">
    <div class="container">
        <div class="row">
            <div style="padding:20px" class="col-sm-6">
                <h2 style="font-size:18px">Контактна форма</h2>
                <form>
                    <div class="row">
                        <div style="padding-top:10px;" class="col-sm-3"><label>Име :</label></div>
                        <div class="col-sm-8"><input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"></div>
                    </div>
                    <div style="margin-top:10px;" class="row">
                        <div style="padding-top:10px;" class="col-sm-3"><label>Email :</label></div>
                        <div class="col-sm-8"><input type="text" name="email" placeholder="Enter Email Address" class="form-control input-sm"></div>
                    </div>
                    <div style="margin-top:10px;" class="row">
                        <div style="padding-top:10px;" class="col-sm-3"><label>Телефон:</label></div>
                        <div class="col-sm-8"><input type="text" name="mobile" placeholder="Enter Mobile Number" class="form-control input-sm"></div>
                    </div>
                    <div style="margin-top:10px;" class="row">
                        <div style="padding-top:10px;" class="col-sm-3"><label>Напиши съобщение:</label></div>
                        <div class="col-sm-8">
                            <textarea rows="5" placeholder="Enter Your Message" class="form-control input-sm"></textarea>
                        </div>
                    </div>
                    <div style="margin-top:10px;" class="row">
                        <div style="padding-top:10px;" class="col-sm-3"><label></label></div>
                        <div class="col-sm-8">
                            <button class="btn btn-danger btn-sm">Изпрати</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <div style="margin:50px" class="serv">
                    <h2 style="margin-top:10px;">Адрес</h2>
                    Институт по биофизика и биомедицинско инженерство<br>
                    Българска Академия на Науките<br>
                    ул. Акад. Георги Бончев, блок 21, София 1113<br>
                    Телефон: +3592 979 36 07<br>
                    Email: prida@biomed.bas.bg<br>
                    Уебсайт: <a href="https://biomed.bas.bg/bg/" target="_blank">https://biomed.bas.bg/bg/</a><br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
