{% extends "base-emi.html" %}
{% load static %}

{% block title %}Database{% endblock %}

{% block content %}
<!-- ######## Page Title ######## -->
<!--<header>-->
<div class="container">
<!--<div class="col-sm-2 d-none d-lg-block appoint">-->
    <div class="row mt-4">
        {% if user.is_authenticated %}
        <div class="user-info">
            <span class="navbar-text">{{ user.username }}</span>
<!--        <a href="{% url 'logout' %}" class="btn btn-danger btn-sm">Изход</a>-->
            <a href="{% url 'logout' %}" class="btn btn-primary btn-lg">Изход</a>
        </div>
        {% else %}
        <div class="auth-buttons">
            <a href="{% url 'login1' %}" class="btn btn-primary btn-lg">Вход</a>
<!--                           <a href="{% url 'register' %}" class="btn btn-success btn-sm">Регистрация</a>-->
        </div>
        {% endif %}
    </div>
</div>
<!--    </header>-->

<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h1>Интегрираната база данни съдържа информация за:</h1>
            <ul>
<!--                <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Home</a></li>-->
<!--                <li><i class="fas fa-angle-double-right"></i> Tables</li>-->
            </ul>
        </div>
    </div>
</div>
<!-- ######## Page Title End ######## -->

<!-- ######## Database Section ######## -->
<div class="db container">
    <div class="btn-group my-4">
         <button class="btn btn-info">
            <a href="{% url 'controli' %}">Здрави Бременни контроли</a>
        </button>
        <button class="btn btn-info">
            <a href="{% url 'preeclampsia' %}">Пациенти с Прееклампсия</a>
        </button>
        <button class="btn btn-info">
            <a href="{% url 'proba1' %}">Пациенти със Спонтанни аборти</a>
        </button>

    </div>
   
    <div class="database-image-container text-center">
        <img src="{% static 'images/database.jpg' %}" alt="Database Description" class="img-fluid">
    </div>
</div>
<!-- ######## Database Section End ######## -->
{% endblock %}
