<!-- web/templates/home.html -->

{% extends 'base-emi.html' %}
{% load static %}

{% block title %}
 Home Page
{% endblock %}
{% block content %}
<header>
<div id="nav-head" class="header-nav">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-3 no-padding col-sm-12 nav-img">
                        <img src="{% static 'images/logo.jpg' %}" alt="Logo">
                        <a data-toggle="collapse" data-target="#menu" href="#menu"><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
                    </div>
                    <div id="menu" class="col-lg-8 col-md-9 d-none d-md-block nav-item">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'about_us_emi' %}">About Us</a></li>
                            <li><a href="{% url 'services_emi' %}">Activities</a></li>
<!--                            <li><a href="{% url 'database_emi' %}">База данни</a></li>-->
                            <li><a href="{% url 'news_emi' %}">News</a></li>
                            <li><a href="{% url 'contact_us_emi' %}">Contacts</a></li>
                            <li><a href="{% url 'home' %}">Bulgarian</a></li>

<!--                            {% if user.is_authenticated %}-->
<!--                            <li><a href="{% url 'logout1' %}">Logout</a></li>-->
<!--                            {% else %}-->
<!--                            <li><a href="{% url 'login1' %}">Login 1</a></li>-->
<!--                            {% endif %}-->


                        </ul>
                    </div>
                    <div class="col-sm-2 d-none d-lg-block appoint">
                       {% if user.is_authenticated %}
                       <div class="user-info">
                           <span class="navbar-text">{{ user.username }}</span>
                           <a href="{% url 'logout' %}" class="btn btn-danger btn-sm">Logout</a>

                       </div>
                       {% else %}
                       <div class="auth-buttons">
                           <a href="{% url 'login_eng' %}" class="btn btn-primary btn-sm">Login</a>
<!--                           <a href="{% url 'register' %}" class="btn btn-success btn-sm">Registration</a>-->
                       </div>
                       {% endif %}
                   </div>
<!--                    <div class="col-sm-2 d-none d-lg-block appoint">-->
<!--                        <button class="btn btn-info-register"><a href="{% url 'register' %}">Register</a></button>-->
<!--                        <button class="btn btn-info-login"><a href="{% url 'login' %}">Login</a></button>-->
<!--                    </div>-->
<!--                    <div class="col-sm-2 d-none d-lg-block appoint">-->
<!--                     {% if user.is_authenticated %}-->
<!--                        <div class="user-info">-->
<!--                            <span class="navbar-text">{{ user.username }}</span>-->
<!--                        </div>-->
<!--                        {% else %}-->
<!--                        <div class="auth-buttons">-->
<!--                            <a href="{% url 'login' %}" class="btn btn-primary btn-sm">Вход 1</a>-->
<!--&lt;!&ndash;                            <a href="{% url 'register' %}" class="btn btn-success btn-sm">Регистрация</a>&ndash;&gt;-->
<!--                        </div>-->
<!--                        {% endif %}-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </header>



    <!-- ################# Slider Starts Here #######################--->
 <div class="slider-detail">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item">
                    <img class="d-block w-100" src="{% static 'images/slider/slider_3.jpg' %}" alt="First slide">
                    <div class="carousel-caption fvgb d-none d-md-block">
<!--                        <h1 style="color: white;" >Pregnancy Related Integrated Database Analytics</h1>-->
                        <h5 class="animated bounceInDown" style="color: white; ">PRIDA</h5>
                        
                        <p class="animated bounceInLeft" style="color: white; ">BG-RRP-2.011-0025  <br>„NextGenerationEU” </p>
                    </div>
                </div>
               <div class="carousel-item active">
                    <img class="d-block w-100" src="{% static 'images/slider/slider_3.jpg' %}" alt="Third slide">
                    <div class="carousel-caption vdg-cur d-none d-md-block">
                        <h2 style="color: white;">CREATION OF A DATABASE FOR PATHOLOGICAL PREGNANCY</h2>
                        <!-- Test deployment - April 26 -->
                        
                        <h2 style="color: white;"> AND EXTRACTION OF NEW KNOWLEDGE FOR THE PURPOSE OF IDENTIFICATION </h2>
                         
                        <h2 style="color: white;">OF IDENTIFYING DIAGNOSTIC MARKERS</h2>
                        <br>
                            <h5 class="animated bounceInDown" style="color: white;"></h5><br>
                         <p class="animated bounceInLeft" style="color: white; ">BG-RRP-2.011-0025 <br> „NextGenerationEU”  </p>
                    </div>
                </div> 
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div> 




    <!-- ################# With Medical Starts Here #######################--->
    <section class="with-medical">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 txtr">
                    <h4> What is <span>PRIDA</span> ?</h4>
                    <br>
                    <p style="text-align: justify; text-indent: 0;"> The aim of this project proposal is to create an integrated database for
                        pathological pregnancy (Pregnancy Related Integrated Database Analytics - PRIDA).
                        It combines data from clinical studies (including genetic, biochemical, immunological,
                        hematological, hemorheological, etc.), registered in various medical centers in the country,
                        and experimental biophysical data (morphological, mechanical and rheological characteristics
                        of erythrocytes), obtained at the Institute of Biophysics and Biomedical Engineering at the
                        Bulgarian Academy of Sciences, for healthy pregnant controls and patients with spontaneous
                        abortion and preeclampsia.
                    </p>
                       
                 </div>
                <div class="col-lg-6 col-md-12">
                    <img src="{% static 'images/general.jpg' %}" alt="Description of image">
                </div>
            </div>
            <div class="row" style="margin-top: 80px;">
                <div class="col-lg-6 col-md-12">
                    <img src="{% static 'images/woman.jpeg' %}" alt="Description of image">
                </div>
                <div class="col-lg-6 col-md-12 txtr">
                    <br>
                    <p style="text-align: justify; text-indent: 0;">  The database will be accessible through a web-based application, providing
                   opportunities for various regulated access rights. For the analysis of the interrelationships
                   between the individual factors included in the database, possibilities for the application of
                   classical statistical methods of analysis, as well as modern mathematical approaches developed at
                   IBfhBME-BAS (intercriteria analysis), will be built-in. </p>
                    <br>
                    <p style="text-align: justify; text-indent: 0;">  The main goal of the project is to identify new diagnostic markers and prognostic
                   factors for assessing the risk of adverse pregnancy outcomes at different stages.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- ################# Our Project Starts Here #######################--->
    <section class="key-features department">
        <div class="container">
            <div class="row session-title">
                <h2>Key areas of the project</h2>
                <p>Take a look at some of our main features and approaches in the project</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-key">
                        <div class="image-container">
                            <img src="{% static 'images/project_activities.png' %}" alt="Дейности по проекта">
                        </div>
                        <h5>Project activities</h5>
                        <p>Selection of controls and patients and extraction of information about relevant...</p>
                        <button class="btn btn-info">
                            <a href="{% url 'services_emi' %}#project-activities">Learn more</a>
                        </button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-key">
                        <div class="image-container">
                            <img src="{% static 'images/experimental_activities.png' %}" alt="Експериментални методи">
                        </div>
                        <h5>Experimental methods</h5>
                        <p>Isolation of erythrocytes and blood plasma...</p>
                        <button class="btn btn-info">
                            <a href="{% url 'services_emi' %}#experimental-methods">Learn more</a>
                        </button>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-key">
                        <div class="image-container">
                            <img src="{% static 'images/math_approaches.png' %}" alt="Математически подходи">
                        </div>
                        <h5>Mathematical approaches to database analysis</h5>
                        <p>Multivariate statistical analysis...</p>
                        <button class="btn btn-info">
                            <a href="{% url 'services_emi' %}#mathematical-approaches">Learn more</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ################# Our Blog Starts Here #######################--->
    <section class="our-blog">
        <div class="container">
            <div class="row session-title">
                <h2> News</h2>
             
            </div>
            <div class="blog-row row">
                <div class="col-lg-12">
                    <div class="single-blog">
                        <div class="row">
                            <!-- Image on the left -->
                            <div class="col-md-6">
                                <figure>
                                    <img src="{% static 'images/blog/blog_011.jpg' %}" alt="">
                                </figure>
                            </div>
                            
                            <!-- Content on the right -->
                            <div class="col-md-6">
                                <div class="blog-detail">
                                    <h4>Home</h4>
                                    <p>On 29.05.2024, the Institute of Biophysics and Biomedical Engineering (IBfhBME)
                                        launched the implementation of the Project BG-RRP-2.011-0025 “Creating a
                                        database of pathological pregnancies and extracting new knowledge to identify
                                        diagnostic markers“ .</p> <br>
                                    
                                    <button class="btn btn-info">
                                        <a href="{% url 'news_emi' %}">Learn more</a>
                                    </button>
                                </div>
                            </div>
                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


<section class="dynamic-data department">
    <div class="container">
        <div class="row session-title">
            <h2>Integrated database for pathological pregnancy</h2>
            
        </div>
        <div class="row">
            <!-- Left Column: Button -->
           <div class="col-lg-6 prida-info-section">
    <p class="info-intro">The integrated database contains information about:</p>
    
    <ul class="prida-list">
        <li>healthy pregnant controls;</li>
        <li>patients with preeclampsia;</li>
        <li>patients with spontaneous abortions.</li>
    </ul>
    
    <button class="btn btn-info">
        <a href="{% url 'login1' %}" style="color: white; text-decoration: none;">Learn more</a>
    </button>
</div>    
            
            <!-- Right Column: Image -->
            <div class="col-lg-6">
                <img src="{% static 'images/prida.png' %}" alt="PRIDA Overview" class="img-fluid" style="max-width: 350px; height: 350px; display: block; margin: -50px auto 0;">
            </div>
        </div>
    </div>
    <br>
</section>
    

    <!-- ################# Footer Starts Here #######################--->
    {% endblock %}