<!--<!DOCTYPE html>-->
{% extends 'base-emi.html' %}
{% block content %}
{% load static %}

<!--{% block title %}Login{% endblock %}-->

<!-- ######## Page Title ######## -->
<header>
    <div id="nav-head" class="header-nav">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-3 no-padding col-sm-12 nav-img">
                    <img src="{% static 'images/logo.jpg' %}" alt="Logo">
                    <a data-toggle="collapse" data-target="#menu" href="#menu"><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
                </div>
                <div id="menu" class="col-lg-8 col-md-9 d-none d-md-block nav-item">
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'about_us_emi' %}">About Us</a></li>
                        <li><a href="{% url 'services_emi' %}">Activities</a></li>
<!--                <li><a href="{% url 'database_emi' %}">База данни</a></li>-->
                        <li><a href="{% url 'news_emi' %}">News</a></li>
                        <li><a href="{% url 'contact_us_emi' %}">Contacts</a></li>
                        <li><a href="{% url 'home' %}">Bulgarian</a></li>
                    </ul>
                </div>
                <div class="col-sm-2 d-none d-lg-block appoint">
                    {% if user.is_authenticated %}
                    <div class="user-info">
                        <span class="navbar-text">{{ user.username }}</span>
                        <a href="{% url 'logout' %}" class="btn btn-danger btn-sm">Logout</a>
                    </div>
                    {% else %}
                    <div class="auth-buttons">
                        <a href="{% url 'login_eng' %}" class="btn btn-primary btn-sm">Login</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>



<div class="page-nav no-margin row">
    <div class="container">
        <div class="row">
            <h2>Login</h2>
            <ul>
                <li><a href="{% url 'home_eng' %}"><i class="fas fa-home"></i> Home</a></li>
                <li><i class="fas fa-angle-double-right"></i> Login</li>
            </ul>
        </div>
    </div>
</div>
<!-- ######## Page Title End ######## -->

<!--<html lang="en">-->
<!--<meta charset="UTF-8">-->
<!--<title>Title</title>-->
<!--<header class="bg-dark py-5">-->
<!--    <div class="container px-4 px-lg-5 my-5">-->
<!--        <div class="text-center text-white">-->
<!--            <h1 class="display-4 fw-bolder">Login</h1>-->
<!--            <p class="lead fw-normal text-white-50 mb-0">Log In To Your Account...</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</header>-->
<section class="key-features1 ky2 department">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <form method="POST" action="{% url 'login_eng' %}">
                    {% csrf_token %}
                    <form>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="username" placeholder="Enter Your Username">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" name="password" placeholder="Enter Your Password">
                        </div>
                        <br/><br/>
                        <button type="submit" class="btn btn-secondary">Login</button>
                    </form>
                </form>
            </div>
            <br>
            <table>
                <tr>
                    <td>
                        <h4>If you want to access the web-based tool for pregnancy analysis, <br>
                            please fill in the contact form from the menu "Contacts"</h4>
                    </td>
                </tr>
            </table>


            <div class="login-image col-md-6">
                <img src="{% static 'images/login.jpg' %}" alt="Login Image" class="img-fluid">
            </div>
        </div>
    </div>
</section>
{% endblock %}