<!--<!DOCTYPE html>-->
{% extends 'base-emi.html' %}
{% block content %}
{% load static %}
<head>

<!--    <link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" href="{% static 'css.css' %}">
    <title>Title</title>


</head>
<br/><br/><br/><br/><br/>
<body>
{% csrf_token %}
<!--            <div style="height: 500px; overflow-x:auto;">-->
<div class="container">
    <div class="row mt-4">
        <div class="col">
            <h1>PRIDA</h1>
            <form method="post" action="{% url 'database_emi' %}">
                {% csrf_token %}
                <button class="btn btn-primary btn-lg">Back</button>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-4">
<!--        <div class="col">-->
            <div style="height: 270px; overflow-x:auto; width: 1200px; overflow-y:auto;">
                <h1>Please enter the New Patient!</h1>
                <table>
                    <tr>
                        <th rowspan="2"><div align="center"> Name</div></th>
                        <th rowspan="2"><div align="center">Age</div></th>
                        <th rowspan="2"><div align="center">Aborts</div></th>
                        <th colspan="2"><div align="center">FVL Mutation</div></th>
                        <th colspan="2"><div align="center">Prothrombin Mutation</div> </th>
                        <th colspan="2"><div align="center">PAI I</div> </th>
                        <th colspan="2"><div align="center">MTHFR</div> </th>
                        <th colspan="2"><div align="center">Action</div></th>
                    </tr>
                    <tr>
                        <th>Hetero<br>zygous<br></th>
                        <th>Homo<br>zygous<br></th>
                        <th>Hetero<br>zygous<br></th>
                        <th>Homo<br>zygous<br></th>
                        <th>Hetero<br>zygous<br></th>
                        <th>Homo<br>zygous<br></th>
                        <th>Hetero<br>zygous<br></th>
                        <th>Homo<br>zygous<br></th>
                        <th></th>
                    </tr>
<!--                    {% for pm in prida_mutations2 %}-->
<!--                    <td></td>-->
<!--                        <td>{{ pm }}</td>-->
<!--                        <td>{{ pm.abort }}</td>-->
<!--                        <td>{{ pm.fvl_hetero }}</td>-->
<!--                        <td>{{ pm.fvl_homo }}</td>-->
<!--                        <td>{{ pm.prothr_hetero }}</td>-->
<!--                        <td>{{ pm.prothr_homo }}</td>-->
<!--                        <td>{{ pm.pai_hetero }}</td>-->
<!--                        <td>{{ pm.pai_hetero }}</td>-->
<!--                        <td>{{ pm.mthfr_hetero }}</td>-->
<!--                        <td>{{ pm.mthfr_hetero }}</td>-->


<!--                        {% endfor %}-->
                        {% if not prida_mutations_form.instance.id %}
                        <tr>
                            {% include 'save.html' %}
                        </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    </div>



</body>

{% endblock %}