{% extends "base_eng.html" %}
{% load static %}

{% block title %}Our Blog{% endblock %}

{% block content %}
<!-- ######## Page Title ######## -->
<div id="nav-head" class="header-nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 no-padding col-sm-12 nav-img">
                <img src="{% static 'images/logo.jpg' %}" alt="Logo">
                <a data-toggle="collapse" data-target="#menu" href="#menu"><i class="fas d-block d-md-none small-menu fa-bars"></i></a>
            </div>
            <div id="menu" class="col-lg-8 col-md-9 d-none d-md-block nav-item">
                <ul>
                    <li><a href="{% url 'home_eng' %}">Home</a></li>
                    <li><a href="{% url 'about_us_eng' %}">About Us</a></li>
                    <li><a href="{% url 'services_eng' %}">Activities</a></li>
                    <li><a href="{% url 'news_eng' %}">News</a></li>
                    <li><a href="{% url 'contact_us_eng' %}">Contacts</a></li>
                    <li><a href="{% url 'news_emi' %}">Bulgarian</a></li>
                </ul>
            </div>
            <div class="col-sm-2 d-none d-lg-block appoint">
                {% if user.is_authenticated %}
                <div class="user-info">
                    <span class="navbar-text">{{ user.username }}</span>
                    <a href="{% url 'logout' %}" class="btn btn-danger btn-sm">Logout</a>
                </div>
                {% else %}
                <div class="auth-buttons">
                    <a href="{% url 'login1' %}" class="btn btn-primary btn-sm">Login</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- ######## Page Title End ######## -->

<!-- ######## Blog Section ######## -->
<section class="our-blog">
    <div class="container">
        <div class="row session-title">
            <h2>News</h2>
        </div>
        <div class="blog-row row">


                         <!-- Blog Post 0 -->
            <div class="col-md-4 col-sm-6">
                <div class="single-blog germany-card">
                    <figure>
                        <img src="{% static 'images/blog/paper-publication.png' %}" alt="Blog Image">
                    </figure>
                    <div class="blog-detail">
                        <h4>Published paper „Severity-Dependent Modulation of Red Blood Cell Aging Patterns
                            in Preeclampsia: Insights from Calorimetry and Atomic Force Microscopy“</h4>
                        <p style="text-align: justify; text-indent: 0;">On 18.04.2026 the International Journal of Molecular Sciences published the
                            research article „Severity-Dependent Modulation of Red Blood Cell Aging Patterns in
                            Preeclampsia: Insights from Calorimetry and Atomic Force Microscopy“. </p>

                        <div class="link">
                            <a href="{% url 'prida_publication_eng' %}"
                               class="btn btn-info">
                               Learn more <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="single-blog germany-card">
                    <figure>
                        <img src="{% static 'images/blog/news-2.png' %}" alt="Blog Image">
                    </figure>
                    <div class="blog-detail">
                        <h4>Participation in “XVI National Congress of Obstetrics and Gynecology with International
                            Participation”</h4>
                        <p style="text-align: justify; text-indent: 0;">In the period April 02-05, 2026 the "XVI National Congress of Obstetrics and
                            Gynecology with International Participation" was held
                            </p>
                        <div class="link">
                            <a href="{% url 'prida_publication2_eng' %}"
                               class="btn btn-info">
                               Learn more <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-4 col-sm-6">
                <div class="single-blog germany-card">
                    <figure>
                        <img src="{% static 'images/blog/bmql1.png' %}" alt="Blog Image">
                    </figure>
                    <div class="blog-detail">
                        <h4>Participation in the Fifth Youth Scientific Session "Biomedicine and Quality of Life" 2025</h4>
                        <p style="text-align: justify; text-indent: 0;">Sen. Assist. Prof. Ariana Langari presented a talk on the
                            topic "Albumin Thermal Stabilization and Plasma Proteins Aggregation as Diagnostic Markers
                            for Preeclampsia: Impact of Disease Severity" at the Fifth Youth Scientific Session
                            "Biomedicine and Quality of Life", held on December 4-5, 2025 at the Institute of
                            Biophysics and Biomedical Engineering at the
                            Bulgarian Academy of Sciences, </p>
                        <div class="link">
                            <a href="{% url 'prida_publication3_eng' %}"
                               class="btn btn-info">
                               Learn more <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


             <!-- Blog Post 1 -->
            <div class="col-md-4 col-sm-6">
                <div class="single-blog germany-card">
                    <figure>
                        <img src="{% static 'images/blog/cellphys.jpg' %}" alt="Blog Image">
                    </figure>
                    <div class="blog-detail">
                        <h4>Participation in Cell Physics 2025, Saarbrücken, Germany</h4>
                        <p>Presentation of PRIDA project at CELL PHYSICS, 7-9.10.2025, Saarbrücken, Germany
                            from Sen. Assist. Prof. Ariana Langari, a member of the scientific team of the project
                            "Development of a Pathologic Pregnancy Database for Retrieval of New Knowledge for
                            Diagnostic Markers Identification"</p>
                        <div class="link">
                            <a href="{% url 'prida_publication4_eng' %}"
                               class="btn btn-info">
                               Learn more <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
               <!-- Blog Post 2 -->
            <div class="col-md-4 col-sm-6">
                <div class="single-blog germany-card">
                    <figure>
                        <img src="{% static 'images/blog/techpark_1.jpg' %}" alt="Blog Image">
                    </figure>
                    <div class="blog-detail">
                        <h4>Participation in the Scientific and Innovation Forum "International Forum on Advanced ICT
                            Research and Innovation"</h4>
                        <p style="text-align: justify; text-indent: 0;">Presentation of PRIDA project at the International Forum on Advanced ICT
                            Research and Innovation, 29.09.2025 -01.10. 2025, Sofia, Bulgaria
                        </p>
                        <div class="link">
                            <a href="{% url 'prida_publication5_eng' %}"
                               class="btn btn-info">
                               Learn more <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>




              <!-- Blog Post 3 -->
            <div class="col-md-4 col-sm-6">
                <div class="single-blog">
                    <figure>
                        <img src="{% static 'images/blog/bioflux.jpg' %}" alt="Blog Image">
                    </figure>
                    <div class="blog-detail">
                        <h4>Microfluidic system</h4>
                        <p style="text-align: justify; text-indent: 0;">Delivery of a microfluidic system with biomedical applications</p>
                        <div class="link">
<!--                            <a href="{% url 'msystema_emi' %}"-->
                            <a href="{% url 'prida_publication6_eng' %}"

                               class="btn btn-info">
                               Learn more <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Blog Post 4 -->
            <div class="col-md-4 col-sm-6">
                <div class="single-blog">
                    <figure>
                        <img src="{% static 'images/blog/biolic.jpg' %}" alt="Blog Image">
                    </figure>
                    <div class="blog-detail">
                        <h4>Participation in BIOLIC 2024, Antalya, Turkey</h4>
                        <p style="text-align: justify; text-indent: 0;">Presentation of PRIDA project at BIOLIC, October 30 - November 1, 2024, Antalya, Turkey</p>
                        <div class="link">
                            <a href="{% url 'biolic_eng' %}"
                               class="btn btn-info">
                               Learn more <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

              <!-- Blog Post 5 -->
            <div class="col-md-4 col-sm-6">
                <div class="single-blog">
                    <figure>
                        <img src="{% static 'images/blog/blog_011.jpg' %}" alt="Blog Image">
                    </figure>
                    <div class="blog-detail">
                        <h4>Начало на проекта 2024</h4>
                        <p style="text-align: justify; text-indent: 0;">The Institute of Biophysics and Biomedical Engineering launched the Project BG-RRP-2.011-0025 “Development of a Pathologic Pregnancy Database for Retrieval of New Knowledge for Diagnostic Markers Identification”
- 29.05.2024 г.</p>
                        <div class="link">
                            <a href="https://biomed.bas.bg/bg/2024/09/ibphbme-implements-project-bg-rpr-2-011-0025/"
                               class="btn btn-info">
                               Learn more <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

               <!-- Blog Post 6-->
            <div class="col-md-4 col-sm-6">
              <!--    <div class="single-blog">
                    <figure>
                        <img src="{% static 'images/blog/blog_011.jpg' %}" alt="Blog Image">
                    </figure>
                    <div class="blog-detail">
                        <h4>Начало на проекта</h4>
                        <p>На 29.05.2024 г. ИБФБМИ стартира изпълнението на Проект BG-RRP-2.011-0025 "Създаване на база данни за патологична бременност и извличане на нови знания с цел идентифициране на диагностични маркери".</p>
                        <div class="link">
                            <a href="https://biomed.bas.bg/bg/2024/09/ibphbme-implements-project-bg-rpr-2-011-0025/"
                               target="_blank"
                               class="btn btn-info">
                               Виж повече <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </div>
                    </div>
                </div>-->
            </div>



        </div>
    </div>
</section>
<!-- ######## Blog Section End ######## -->
{% endblock %}