{% extends "base-emi.html" %}
{% load static %}
{% block title %}Под конструкция сега{% endblock %}
{% block content %}


<!-- ######## Page Title ######## -->
<!--<div class="page-nav no-margin row">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <h2>Прееклампсия</h2>-->
<!--            <ul>-->
<!--                <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Начало</a></li>-->
<!--                <li><i class="fas fa-angle-double-right"></i> Таблица с Прееклампсии</li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="container">
    <div class="d-grid gap-2 d-md-block">
        <div class="row mt-4">
            {% if user.is_authenticated %}
            <div class="user-info">
                <a href="{% url 'preeclampsia_eng_new' %}" class="btn btn-primary">BACK</a>
            </div>
            <div class="user-info">
                <span class="navbar-text">user name: {{ user.username }}</span>
                <a href="{% url 'logout_eng' %}" class="btn btn-primary btn-lg">Logout</a>
            </div>
            {% else %}
            <div class="auth-buttons">
                <a href="{% url 'login_eng' %}" class="btn btn-primary btn-lg">Login</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!--<div class="container">-->
<!--    <div class="row mt-4">-->
<!--        <div class="col">-->
<!--            <h1>PRIDA</h1>-->
<!--            <form method="post" action="{% url 'database_emi' %}">-->
<!--                {% csrf_token %}-->
<!--                <button class="btn btn-primary btn-lg">Назад</button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="container">
    <div class="row mt-5">
        {% csrf_token %}
        <h1>Select Data</h1>
        <form method="post" action="{% url 'preeclampsia' %}">

        <table>
            <tr>
<!--                <th>-->
<!--                    <input type="checkbox" name="prida_list_preeclampsia" value="patient"-->
<!--                           style="height:20px; width:20px;">Patient-->
<!--                </th>-->
                <th>
                    <input type="checkbox" name="prida_list_preeclampsia" value="age"
                           style="height:20px; width:20px;">Age
                </th>
                <th>
                    <input type="checkbox" name="prida_list_preeclampsia" value="sist_pressure"
                           style="height:20px; width:20px;">Sistem Pressure
                </th>
                <th>
                    <input type="checkbox" name="prida_list_preeclampsia" value="diasist_pressure"
                           style="height:20px; width:20px;">Diasistolic Pressure
                </th>
                <th>
                    <input type="checkbox" name="prida_list_preeclampsia" value="gw"
                           style="height:20px; width:20px;">GW
                </th>
                <th>
                    <input type="checkbox" name="prida_list_preeclampsia" value="weight"
                           style="height:20px; width:20px;">Weight
                </th>
                <th>
                    <input type="checkbox" name="prida_list_preeclampsia" value="eai1"
                           style="height:20px; width:20px;">EAI1
                </th>
                <th>
                    <input type="checkbox" name="prida_list_preeclampsia" value="nea1"
                           style="height:20px; width:20px;">NEA1
                </th>
                <th>
                    <input type="checkbox" name="prida_list_preeclampsia" value="eai2"
                           style="height:20px; width:20px;">EAI2
                </th>
            </tr>
            <tr>

                <th>
                    <input type="checkbox" name="prida_list_preeclampsia" value="nea2"
                           style="height:20px; width:20px;">NEA2
                </th>
                <th>
                    <input type="checkbox" name="prida_list_preeclampsia" value="erythrocytes"
                           style="height:20px; width:20px;">Erythrocytes
                </th>
                <th>
                    <input type="checkbox" name="prida_list_preeclampsia" value="hgb"
                           style="height:20px; width:20px;">HGB
                </th>
                <th>
                    <input type="checkbox" name="prida_list_preeclampsia" value="hct"
                           style="height:20px; width:20px;">HCT
                </th>
                <th>
                    <input type="checkbox" name="prida_list_preeclampsia" value="mcv"
                           style="height:20px; width:20px;">MCV
                </th>
                <th>
                    <input type="checkbox" name="prida_list_preeclampsia" value="mch"
                           style="height:20px; width:20px;">MCH
                </th>
                <th>
                    <input type="checkbox" name="prida_list_preeclampsia" value="mchc"
                           style="height:20px; width:20px;">MCHC
                </th>
                <th>
                    <input type="checkbox" name="prida_list_preeclampsia" value="rdw"
                           style="height:20px; width:20px;">RDW
                </th>
            </tr>
            <tr>

                <th>
                    <input type="checkbox" name="prida_list_preeclampsia" value="prothrombin_time"
                           style="height:20px; width:20px;">Prothrombin Time
                </th>
                <th>
                    <input type="checkbox" name="prida_list_preeclampsia" value="prothrombin_time_percent"
                           style="height:20px; width:20px;">Prothrombin Time %
                </th>
                <th>
                    <input type="checkbox" name="prida_list_preeclampsia" value="prothrombin_time_inr"
                           style="height:20px; width:20px;">Prothrombin Time INR
                </th>
                <th>
                    <input type="checkbox" name="prida_list_preeclampsia" value="plt"
                           style="height:20px; width:20px;">PLT
                </th>
                <th>
                    <input type="checkbox" name="prida_list_preeclampsia" value="mpv"
                           style="height:20px; width:20px;">MPV
<!--                </th>-->
<!--                <th>-->
<!--                    <input type="checkbox" name="prida_list_preeclampsia" value="pct"-->
<!--                           style="height:20px; width:20px;">PCT-->
<!--                </th>-->
<!--                <th>-->
<!--                    <input type="checkbox" name="prida_list_preeclampsia" value="pdw_percent"-->
<!--                           style="height:20px; width:20px;">PDW %-->
<!--                </th>-->
<!--                <th>-->
<!--                    <input type="checkbox" name="prida_list_preeclampsia" value="creatine_serum"-->
<!--                           style="height:20px; width:20px;">Creatine Serum-->
<!--                </th>-->
<!--            </tr>-->
<!--            <tr>-->

<!--                <th>-->
<!--                    <input type="checkbox" name="prida_list_preeclampsia" value="total_protein_serum"-->
<!--                           style="height:20px; width:20px;">Total Protein Serum-->
<!--                </th>-->
<!--                <th>-->
<!--                    <input type="checkbox" name="prida_list_preeclampsia" value="albumin_serum"-->
<!--                           style="height:20px; width:20px;">Albumin Serum-->
<!--                </th>-->
<!--                <th>-->
<!--                    <input type="checkbox" name="prida_list_preeclampsia" value="fibrinugen"-->
<!--                           style="height:20px; width:20px;">Fibrinugen-->
<!--                </th>-->
<!--                <th>-->
<!--                    <input type="checkbox" name="prida_list_preeclampsia" value="crp"-->
<!--                           style="height:20px; width:20px;">CRP-->
<!--                </th>-->
<!--                <th>-->
<!--                    <input type="checkbox" name="prida_list_preeclampsia" value="proetin_urine"-->
<!--                           style="height:20px; width:20px;">Protein Urine-->
<!--                </th>-->
<!--                <th>-->
<!--                    <input type="checkbox" name="prida_list_preeclampsia" value="asat"-->
<!--                           style="height:20px; width:20px;">ASAT-->
<!--                </th>-->
<!--                <th>-->
<!--                    <input type="checkbox" name="prida_list_preeclampsia" value="alat"-->
<!--                           style="height:20px; width:20px;">ALAT-->
<!--                </th>-->
<!--                <th>-->
<!--                    <input type="checkbox" name="prida_list_preeclampsia" value="mcv"-->
<!--                           style="height:20px; width:20px;">MCV-->
<!--                </th>-->
<!--            </tr>-->
<!--            <tr>-->

<!--            </tr>-->

        </table>
    </div>
</div>
<div class="container">
    <div class="row mt-5">
<!--        <form method="post" action="{% url 'preeclampsia' %}">-->
            {% csrf_token %}

<!--            <div style="height: 500px; overflow-x:auto;width: 1200px; overflow-y:auto;">-->
<!--                <h1>Table with Preeclampsia Patients</h1>-->
<!--                <table>-->
<!--                    <tr>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="patient" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="age" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="sist_pressure" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="diasist_pressure" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="gw" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="weight" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="eai1" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="nea1" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="eai2" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="nea2" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="erythrocytes" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="hgb" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="hct" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="mcv" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="mch" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="mchc" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="rdw" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="prothrombin_time" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="prothrombin_time_percent" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="prothrombin_time_inr" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="plt" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="mpv" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="pct" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="pdw_percent" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="creatine_serum" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="total_protein_serum" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="albumin_serum" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="fibrinugen" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="crp" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="proetin_urine" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="asat" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="alat" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                        <td>-->
<!--                        <input type="checkbox" name="prida_list_preeclampsia" value="mcv" style="height:20px; width:20px;">&nbsp;-->
<!--                        </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                        <th>-->

<!--                            <div align="center">-->
<!--                                Пациент-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                Години-->
<!--                            </div>-->
<!--                        </th>-->

<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                Систолично налягане-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                GW-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                Тегло на-->
<!--                                <br>-->
<!--                                новороденото-->
<!--                            </div>-->
<!--                        </th>-->

<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                EAI1-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                NEA1-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                EAI2-->
<!--                            </div>-->
<!--                        </th>-->

<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                NEA2-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                Еритроцити T/L-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                HGB-Хемоглобин g/L-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                HCT-Хематокрит l/l-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                MCVmmol/l-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                MCH Pg-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                MCHC g/l-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                RDW %-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                Протромбиново време-->
<!--                                <br>sec-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                Протромбиново време-->
<!--                                <br>%-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                Протромбиново време-->
<!--                                <br>INR-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                PLT G/L.-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                MPV Fl-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                PCTmL/L-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                PDW%-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                Креатинин - серум-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                Общ белтък - серум-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                Албумин - серум-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                Фибриноген g/l-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                CRP-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                Белтък в диуреза-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                ASAT (U/L)-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                ALAT (U/L)-->
<!--                            </div>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <div align="center">-->
<!--                                MCV-среден обем <br>на еритроцитите-->
<!--                            </div>-->
<!--                        </th>-->



<!--                        <th>Action</th>-->
<!--                    </tr>-->

<!--                    {% for pm in prida_preeclampsia %}-->
<!--                    <tr>-->

<!--                        <td>{{ pm.patient }}</td>-->


<!--                        <td>{{ pm.age }}</td>-->
<!--                        <td>{{ pm.sist_pressure }}</td>-->

<!--                        <td>{{ pm.diasist_pressure }}</td>-->
<!--                        <td>{{ pm.gw }}</td>-->
<!--                        <td>{{ pm.weight }}</td>-->

<!--                        <td>{{ pm.eai1 }}</td>-->
<!--                        <td>{{ pm.nea1 }}</td>-->
<!--                        <td>{{ pm.eai2 }}</td>-->

<!--                        <td>{{ pm.nea2 }}</td>-->
<!--                        <td>{{ pm.erythrocytes }}</td>-->
<!--                        <td>{{ pm.hgb }}</td>-->

<!--                        <td>{{ pm.hct }}</td>-->
<!--                        <td>{{ pm.mcv }}</td>-->
<!--                        <td>{{ pm.mch }}</td>-->

<!--                        <td>{{ pm.mchc }}</td>-->
<!--                        <td>{{ pm.rdw }}</td>-->
<!--                        <td>{{ pm.prothrombin_time }}</td>-->
<!--                        <td>{{ pm.prothrombin_time_percent }}</td>-->

<!--                        <td>{{ pm.prothrombin_time_inr }}</td>-->
<!--                        <td>{{ pm.plt }}</td>-->
<!--                        <td>{{ pm.mpv }}</td>-->
<!--                        <td>{{ pm.pct }}</td>-->

<!--                        <td>{{ pm.pdw_percent }}</td>-->
<!--                        <td>{{ pm.creatine_serum }}</td>-->
<!--                        <td>{{ pm.total_protein_serum }}</td>-->
<!--                        <td>{{ pm.albumin_serum }}</td>-->

<!--                        <td>{{ pm.fibrinugen }}</td>-->
<!--                        <td>{{ pm.crp }}</td>-->
<!--                        <td>{{ pm.proetin_urine }}</td>-->
<!--                        <td>{{ pm.asat }}</td>-->

<!--                        <td>{{ pm.alat }}</td>-->
<!--                        <td>{{ pm.mcv }}</td>-->

<!--                    </tr>-->
<!--                    {% endfor %}-->
<!--                </table>-->
<!--            </div>-->
<!--        </form>-->
    </div>
</div>
<div class="container">
    <div class="row mt-5">
<!--        <form method="post" action="{% url 'proba1' %}">-->
            {% csrf_token %}
                <h1>Please select (at least 2) parameters to be analyzed </h1>
    </div>
</div>
<div class="container">
    <div class="row mt-4">
        <div class="col">
<!--            <form method="post" action="{% url 'preeclampsia' %}">-->
                {% csrf_token %}
                <button name="corr_analysis" class="btn btn-primary btn-lg">Correlation Analysis</button>
            </form>
        </div>
    </div>
</div>
<br>

<div class="container">
    {% if key6 %}
            <img src="data:image/png;base64,{{ key6 }}" height="400" width="750">
    {% endif %}
</div>
<!-- ######## Page Title ######## -->
<!--<div class="page-nav no-margin row">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <h2>База данни</h2>-->
<!--&lt;!&ndash;            <ul>&ndash;&gt;-->
<!--&lt;!&ndash;                <li><a href="{% url 'home' %}"><i class="fas fa-home"></i> Начало</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                <li><i class="fas fa-angle-double-right"></i> База данни</li>&ndash;&gt;-->
<!--&lt;!&ndash;            </ul>&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!-- ######## Page Title End ######## -->

<!-- ######## Under Construction Section ######## -->
<!--<section class="key-features1 ky2 department">-->
<!--    <div class="container">-->
<!--        <div class="row justify-content-center">-->
<!--            <div class="col-md-8 text-center">-->
<!--                <div class="single-key" style="padding: 60px 40px; margin-top: 50px; margin-bottom: 100px;">-->
<!--                    <i class="fas fa-tools" style="font-size: 80px; color: #00a8df; margin-bottom: 30px;"></i>-->
<!--                    <h2 style="color: #03509e; margin-bottom: 20px;">Страницата е в процес на разработка1</h2>-->
<!--                    <p style="font-size: 18px; color: #6a6a6a; line-height: 1.8;">-->
<!--                        Работим усилено по създаването на тази база данни. -->
<!--                        <br>-->
<!--                        Моля, проверете отново скоро.-->
<!--                    </p>-->
<!--&lt;!&ndash;                    <div style="margin-top: 40px;">&ndash;&gt;-->
<!--&lt;!&ndash;                        <a href="{% url 'home' %}" class="btn btn-info-register">&ndash;&gt;-->
<!--&lt;!&ndash;                            <i class="fas fa-arrow-left"></i> Назад към началната страница&ndash;&gt;-->
<!--&lt;!&ndash;                        </a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!-- ######## Under Construction Section End ######## -->
{% endblock %}