{% extends "base_bg.html" %}
{% load static %}

<!--{% block title %}Научна презентация{% endblock %}-->

{% block content %}
<!-- ######## Page Title ######## -->
<body>
<div class="container">
    <div class="d-grid gap-2 d-md-block">
        <div class="row mt-4">
            <div class="user-info">
                <a href="{% url 'news_emi' %}" class="btn btn-primary">Назад</a>
            </div>
        </div>
    </div>
</div>


<!-- ######## Posters Section ######## -->
<section class="posters-section">
    <div class="container">
        <!-- Poster 1: Текст ВЛЯВО, Снимка ВДЯСНО -->
        <div class="poster-item poster-reverse">
              <div class="poster-image">
                <a href="{% static 'images/blog/news-2.png' %}" target="_blank">
                    <img src="{% static 'images/blog/news-2.png' %}" alt="Cell Physics Poster">
                </a>
            </div>
            <div class="poster-text">
                <h4>Участие в ХVІ “Национален Конгрес по акушерство и гинекология с международно участие“</h4>
                <p>В периода 02-05 април 2026 г. в хотел „Рила“, к.к. Боровец, се проведе „ХVІ Национален Конгрес по
                    акушерство и гинекология с международно участие“ (https://wasteels.bg/bg/congresno-subitie/khvi-
                    nacionalen-kongres-po-akusherstvo-i-ginekologiya-s-mezhdunarodno-uchastie), на който доктор Ина
                    Гьошева представи постер на тема „Thermodynamic and nanomechanical alterations of red blood cells
                    in preeclampsia: cell ageing effect“ и авторски колектив: Ina Gyosheva, Sashka Krumova, Velichka
                    Strijkova, Ariana Langari, Alexey Savov, Vesela Katrova, Svetla Todinova, Tania Pencheva.
                    Комбинирайки диференциална сканираща калориметрия и атомно-силова микроскопия, беше демонстрирано,
                    че тежката прееклампсия предизвиква селективна дестабилизация на макрокомплекса ивица 3
                    белтък-хемоглобин в еритроцити, свързвайки протеиновата нестабилност с нарушена механична цялост на
                    клетките. От транслационна гледна точка, комбинираният термодинамично-наномеханичен подход на
                    характеризиране на еритоцити разкрива нови чувствителни биофизични маркери за идентифициране на
                    ранно увреждане на еритроцитите при пациенти с рискова бременност, което не може да се открие чрез
                    рутинни хематологични тестове.</p>
                <p></p>
            </div>
          
        </div>

        <!-- Poster 2: Снимка ВЛЯВО, Текст ВДЯСНО -->

    </div>
</section>
<!-- ######## Posters Section End ######## -->
{% endblock %}
</body>