<!--<!DOCTYPE html>-->
{% extends 'base-emi.html' %}
{% block content %}
{% load static %}
<head>

<!--    <link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" href="{% static 'css.css' %}">
    <title>Title</title>
</head>
<body>
{% csrf_token %}
<!--            <div style="height: 500px; overflow-x:auto;">-->
<!--<div class="container">-->
<!--    <div class="row mt-4">-->
<!--        <div class="col">-->
<!--            <table>-->
<!--                <tr>-->
<!--                    <td>-->
<!--                        <h1>PRIDA</h1>-->
<!--                        <h2>Patients with Spontaneous  Miscarriages</h2>-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        <form method="post" action="{% url 'mutations_eng' %}">-->
<!--                            {% csrf_token %}-->
<!--                            <button class="btn btn-primary btn-lg">Back</button>-->
<!--                        </form>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<div class="container">
    <div class="d-grid gap-2 d-md-block">
        <div class="row mt-4">
            {% if user.is_authenticated %}
            <div class="user-info">
                <a href="{% url 'mutations_eng' %}" class="btn btn-primary">BACK</a>
            </div>
            <div class="user-info">
                <span class="navbar-text">user name: {{ user.username }}</span>
                <a href="{% url 'logout_eng' %}" class="btn btn-primary btn-lg">Logout</a>
            </div>
            {% else %}
            <div class="auth-buttons">
                <a href="{% url 'login_eng' %}" class="btn btn-primary btn-lg">Login</a>
            </div>
            {% endif %}
        </div>
    </div>
<div class="container">
    <div class="row mt-5">
        <form method="post" action="{% url 'proba1_eng' %}">
            <h1>Please Select Miscarriages and Mutations Factors</h1>
            <table id="table1">
                {% csrf_token %}
                <tr>
                    <th> <div align="center"> Miscarriages </div></th>
                    <th> <div align="center"> Factor V Leiden </div> </th>
                    <th> <div align="center"> Factor II (Prothrombin) </div> </th>
                    <th> <div align="center"> PAI I </div> </th>
                    <th> <div align="center"> MTHFR </div> </th>
<!--                    <th> <div align="center"> AGE </div> </th>-->
<!--                    <th> <div align="center"> ABORTS </div></th>-->
<!--                    <th> <div align="center"> Factor V Leiden </div> </th>-->
<!--                    <th> <div align="center"> Factor II (Prothrombin) </div> </th>-->
<!--                    <th> <div align="center"> PAI I </div> </th>-->
<!--                    <th> <div align="center"> MTHFR </div> </th>-->
                </tr>
                <tr>
<!--                    <td>-->
<!--                        <input type="radio" checked name="age" value="age1" style="height:20px; width:20px;">&nbsp;-->
<!--                        Age between 20 and 30 years-->
<!--                    </td>-->
                    <td>
                        <input type="radio" checked name="abort" value="abort_1" style="height:20px; width:20px;">1 Miscarriage
                    </td>
                    <td>
                        <input type="checkbox" name="prida_list_data" value="fvl_ng" style="height:20px; width:20px;">&nbsp;Normal Genotype
                    </td>
                    <td>
                        <input type="checkbox" name="prida_list_data" value="prothr_ng" style="height:20px; width:20px;">&nbsp;Normal Genotype
                    </td>
                    <td>
                        <input type="checkbox" name="prida_list_data" value="pai_ng" style="height:20px; width:20px;">&nbsp;Normal Genotype
                    </td>
                    <td>
                        <input type="checkbox" name="prida_list_data" value="mthfr_ng" style="height:20px; width:20px;">&nbsp;Normal Genotype
                    </td>
                </tr>
                <tr>
<!--                    <td>-->
<!--                        <input type="radio" name="age" value="age2" style="height:20px; width:20px;">&nbsp;Age between 31 and 40 years-->
<!--                    </td>-->
                    <td>
                        <input type="radio" name="abort" value="abort_2" style="height:20px; width:20px;">&nbsp;2 Miscarriages
                    </td>
                    <td>
                        <input type="checkbox" checked name="prida_list_data" value="fvl_hetero" style="height:20px; width:20px;">&nbsp;Heterozygous
                    </td>
                    <td>
                        <input type="checkbox" name="prida_list_data" value="prothr_hetero" style="height:20px; width:20px;">&nbsp;Heterozygous
                    </td>
                    <td>
                        <input type="checkbox" name="prida_list_data" value="pai_hetero" style="height:20px; width:20px;">&nbsp;Heterozygous
                    </td>
                    <td>
                        <input type="checkbox" name="prida_list_data" value="mthfr_hetero" style="height:20px; width:20px;">&nbsp;Heterozygous
                    </td>
                </tr>
                <tr>
<!--                    <td>-->
<!--                        <input type="radio" name="age" value="age3" style="height:20px; width:20px;">&nbsp;Age between 41 and 50 years-->
<!--                    </td>-->
                    <td>
                        <input type="radio" name="abort" value="abort_3" style="height:20px; width:20px;">&nbsp;More than 2 Miscarriages
                    </td>
                    <td>
                        <input type="checkbox" name="prida_list_data" value="fvl_homo" style="height:20px; width:20px;">&nbsp;Homozygous
                    </td>
                    <td>
                        <input type="checkbox" name="prida_list_data" value="prothr_homo" style="height:20px; width:20px;">&nbsp;Homozygous
                    </td>
                    <td>
                        <input type="checkbox" name="prida_list_data" value="pai_homo" style="height:20px; width:20px;">&nbsp;Homozygous
                    </td>
                    <td>
                        <input type="checkbox" name="prida_list_data" value="mthfr_homo" style="height:20px; width:20px;">&nbsp;Homozygous
                    </td>
                </tr>
<!--                <tr>-->
<!--                    <td>-->
<!--                        <input type="radio" name="age" value="age4" style="height:20px; width:20px;">&nbsp;All Ages-->
<!--                    </td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                    <td></td>-->
<!--                </tr>-->
            </table>
            <h1>Please Enter the Age of the Patients</h1>
            <table>
                <tr>
                    <td>
                        <div align="center">
                            From <input type="number" name="from_age" style="text-align: center;" value="25"> Years
                        </div>

                    </td>
                    <td>
                        <div align="center">
                            To <input align="left" type="number" name="to_age" style="text-align: center;" value="26"> Years
                        </div>
                    </td>
                </tr>
            </table>
<!--            <div class="container">-->
<!--                <div class="row mt-4">-->
<!--                    <div class="col">-->
<!--                        <button name="calculate_mutations_aborts" class="btn btn-primary btn-lg">-->
<!--                            Calculate Number of Patients <br>with Mutations after Aborts-->
<!--                        </button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <h1>Distribution Results of Patients after a Miscarriage</h1>-->
<!--            <table>-->
<!--                <tr>-->
<!--                    <th>-->
<!--                        Number of Patients-->
<!--                    </th>-->
<!--                    <th>-->
<!--                        Age Limit-->
<!--                    </th>-->
<!--                    <th>-->
<!--                        Mutation Factor-->
<!--                    </th>-->
<!--                    <th>-->
<!--                        Patients with 1 Miscarriage-->
<!--                    </th>-->
<!--                    <th>-->
<!--                        Patients with 2 Miscarriages-->
<!--                    </th>-->
<!--                    <th>-->
<!--                        Patients with > then 2 Miscarriages-->
<!--                    </th>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>-->
<!--                        {{ nbr_patients_selected_age }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ from_age }} - {{ to_age }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ prida_list_data }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ selected_abort_age_1 }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ selected_abort_age_2 }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ selected_abort_age_3 }}-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </table>-->
            <div class="container">
                <div class="row mt-4">
                    <div class="col">
                        <button name="submit" class="btn btn-primary btn-lg">
                            Mutation Analysis
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <h1>Results for Distribution of Patients with Mutations</h1>
<!--        <form>-->
<!--&lt;!&ndash;            <button name="submit" class="btn btn-primary btn-lg">Calculate Number of Patients with Mutations</button>&ndash;&gt;-->
<!--            <table>-->
<!--                <tr>-->
<!--                    <th>-->
<!--                        <div align="center">-->
<!--                            Row Numbers Used-->
<!--                            <br>-->
<!--                        </div>-->
<!--                    </th>-->
<!--                    <th>-->
<!--                        <div align="center">-->
<!--                            Age-->
<!--                        </div>-->
<!--                    </th>-->
<!--                    <th scope="col">-->
<!--                        <div align="center">-->
<!--                            Miscarriages-->
<!--                        </div>-->
<!--                    </th>-->
<!--                    <th>-->
<!--                        <div align="center">-->
<!--                            Number of Patients-->
<!--                        </div>-->
<!--                    </th>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>{{ clients_list }}</td>-->
<!--                    <td> {{ age_interval }} </td>-->
<!--                    <td> {{ abort_variant }} </td>-->
<!--                    <td> {{ number_abort_patients }} </td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    {% if s_factor == 'abort_1' %}-->
<!--                    <td>-->
<!--                        {{ s_factor }}-->
<!--                    </td>-->
<!--                    {% elif s_factor == 'fvl_hetero' %}-->
<!--                    <td>-->
<!--                        {{ count_all_fvl_hetero_data }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ s_factor }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ count_fvl_hetero }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ fvl_1_hetero_percent }}-->
<!--                    </td>-->
<!--                    <td></td>-->
<!--                    {% elif s_factor == 'fvl_homo' %}-->
<!--                    <td>-->
<!--                        {{ count_all_fvl_homo_data }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ s_factor }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ count_fvl_homo }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ fvl_1_homo_percent }}-->
<!--                    </td>-->
<!--                    <td></td>-->
<!--                    {% elif s_factor == 'prothr_ng' %}-->
<!--                    <td>-->
<!--                        {{ count_all_prothr_ng_data }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ s_factor }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ count_prothr_ng }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ prothr_1_ng_percent }}-->
<!--                    </td>-->
<!--                    <td></td>-->
<!--                    {% elif s_factor == 'prothr_hetero' %}-->
<!--                    <td>-->
<!--                        {{ count_all_prothr_hetero_data }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ s_factor }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ count_prothr_hetero }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ prothr_1_hetero_percent }}-->
<!--                    </td>-->
<!--                    <td></td>-->
<!--                    {% elif s_factor == 'prothr_homo' %}-->
<!--                    <td>-->
<!--                        {{ count_all_prothr_homo_data }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ s_factor }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ count_prothr_homo }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ prothr_1_homo_percent }}-->
<!--                    </td>-->
<!--                    <td></td>-->
<!--                    {% elif s_factor == 'pai_ng' %}-->
<!--                    <td>-->
<!--                        {{ count_all_pai_ng_data }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ s_factor }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ count_pai_ng }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ pai_1_ng_percent }}-->
<!--                    </td>-->
<!--                    <td></td>-->
<!--                    {% elif s_factor == 'pai_hetero' %}-->
<!--                    <td>-->
<!--                        {{ count_all_pai_hetero_data }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ s_factor }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ count_pai_hetero }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ pai_1_hetero_percent }}-->
<!--                    </td>-->
<!--                    <td></td>-->
<!--                    {% elif s_factor == 'pai_homo' %}-->
<!--                    <td>-->
<!--                        {{ count_all_pai_homo_data }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ s_factor }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ count_pai_homo }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ pai_1_homo_percent }}-->
<!--                    </td>-->
<!--                    <td></td>-->
<!--                    {% elif s_factor == 'mthfr_ng' %}-->
<!--                    <td>-->
<!--                        {{ count_all_mthfr_ng_data }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ s_factor }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ count_mthfr_ng }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ mthfr_1_ng_percent }}-->
<!--                    </td>-->
<!--                    <td></td>-->
<!--                    {% elif s_factor == 'mthfr_hetero' %}-->
<!--                    <td>-->
<!--                        {{ count_all_mthfr_hetero_data }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ s_factor }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ count_mthfr_hetero }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ mthfr_1_hetero_percent }}-->
<!--                    </td>-->
<!--                    <td></td>-->
<!--                    {% elif s_factor == 'mthfr_homo' %}-->
<!--                    <td>-->
<!--                        {{ count_all_mthfr_homo_data }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ s_factor }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ count_mthfr_homo }}-->
<!--                    </td>-->
<!--                    <td>-->
<!--                        {{ mthfr_1_homo_percent }}-->
<!--                    </td>-->
<!--                    {% elif s_factor == 'abort_1' %}-->
<!--                    <td>-->
<!--                        {{ s_factor }}-->
<!--                    </td>-->
<!--                    {% endif %}-->
<!--                </tr>-->
<!--            </table>-->
<!--&lt;!&ndash;            <br><br>&ndash;&gt;-->
<!--        </form>-->
    </div>
</div>

<div class="container">
    <div class="row mt-5">
        <form>
            <table>
    <tr>
        <th></th>
        <th>
            <div align="center">Number of Patients
            </div>
        </th>
        <th>
            <div align="center">Mutations in %
            </div>
        </th>
    </tr>
    <tr>
        <th>
            <div align="center"> Factor V Leiden Normal Genotype Mutation

            </div>
        </th>
        <td>
            {% for s_factor in prida_list_data %}
            {% if s_factor == 'fvl_ng' %}
            {{ count_fvl_ng }}
            {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for s_factor in prida_list_data %}
            {% if s_factor == 'fvl_ng' %}
            {{ count_fvl_ng_percent }}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th scope="col">
            <div align="center">Factor V Leiden Heterozigous Mutation
            </div>
        </th>
        <td>
            {% for s_factor in prida_list_data %}
            {% if s_factor == 'fvl_hetero' %}
            {{ count_fvl_hetero }}
            {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for s_factor in prida_list_data %}
            {% if s_factor == 'fvl_hetero' %}
            {{ count_fvl_hetero_percent }}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th scope="col">
            <div align="center">Factor V Leiden Homozigous Mutation
            </div>
        </th>
        <td>
            {% for s_factor in prida_list_data %}
            {% if s_factor == 'fvl_homo' %}
            {{ count_fvl_homo }}
            {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for s_factor in prida_list_data %}
            {% if s_factor == 'fvl_homo' %}
            {{ count_fvl_homo_percent }}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th scope="col">
            <div align="center">Factor II (Prothrombin) Normal Genotype Mutation
            </div>
        </th>
        <td>
            {%for s_factor in prida_list_data %}
            {% if s_factor == 'prothr_ng' %}
            {{ count_prothr_ng }}
            {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for s_factor in prida_list_data %}
            {% if s_factor == 'prothr_ng' %}
            {{ count_prothr_ng_percent }}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th scope="col">
            <div align="center">Factor II (Prothrombin) Heterozigous Mutation
            </div>
        </th>
        <td>
            {%for s_factor in prida_list_data %}
            {% if s_factor == 'prothr_hetero' %}
            {{ count_prothr_hetero }}
            {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for s_factor in prida_list_data %}
            {% if s_factor == 'prothr_hetero' %}
            {{ count_prothr_hetero_percent }}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th scope="col">
            <div align="center">
                Factor II (Prothrombin) Homozigous Mutation
            </div>
        </th>
        <td>
            {%for s_factor in prida_list_data %}
            {% if s_factor == 'prothr_homo' %}
            {{ count_prothr_homo }}
            {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for s_factor in prida_list_data %}
            {% if s_factor == 'prothr_homo' %}
            {{ count_prothr_homo_percent }}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th scope="col">
            <div align="center">
                Factor PAI I Normal Genotype Mutation
            </div>
        </th>
        <td>
            {%for s_factor in prida_list_data %}
            {% if s_factor == 'pai_ng' %}
            {{ count_pai_ng }}
            {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for s_factor in prida_list_data %}
            {% if s_factor == 'pai_ng' %}
            {{ count_pai_ng_percent }}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th scope="col">
            <div align="center">
                Factor PAI I Heterozigous Mutation
            </div>
        </th>
        <td>
            {%for s_factor in prida_list_data %}
            {% if s_factor == 'pai_hetero' %}
            {{ count_pai_hetero }}
            {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for s_factor in prida_list_data %}
            {% if s_factor == 'pai_hetero' %}
            {{ count_pai_hetero_percent }}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th scope="col">
            <div align="center">
                Factor PAI I Homozigous Mutation
            </div>
        </th>
        <td>
            {%for s_factor in prida_list_data %}
            {% if s_factor == 'pai_homo' %}
            {{ count_pai_homo }}
            {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for s_factor in prida_list_data %}
            {% if s_factor == 'pai_homo' %}
            {{ count_pai_homo_percent }}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th scope="col">
            <div align="center">
                Factor MTHFR Normal Genotype Mutation
            </div>
        </th>
        <td>
            {%for s_factor in prida_list_data %}
            {% if s_factor == 'mthfr_ng' %}
            {{ count_mthfr_ng }}
            {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for s_factor in prida_list_data %}
            {% if s_factor == 'mthfr_ng' %}
            {{ count_mthfr_ng_percent }}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th scope="col">
            <div align="center">
                Factor MTHFR Heterozigous Mutation
            </div>
        </th>
        <td>
            {%for s_factor in prida_list_data %}
            {% if s_factor == 'mthfr_hetero' %}
            {{ count_mthfr_hetero }}
            {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for s_factor in prida_list_data %}
            {% if s_factor == 'mthfr_hetero' %}
            {{ count_mthfr_hetero_percent }}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th scope="col">
            <div align="center">
                Factor MTHFR Homozigous Mutation
            </div>
        </th>
        <td>
            {%for s_factor in prida_list_data %}
            {% if s_factor == 'mthfr_homo' %}
            {{ count_mthfr_homo }}
            {% endif %}
            {% endfor %}
        </td>
        <td>
            {% for s_factor in prida_list_data %}
            {% if s_factor == 'mthfr_homo' %}
            {{ count_mthfr_homo_percent }}
            {% endif %}
            {% endfor %}
        </td>
    </tr>
</table>
<!--<tr>-->
<!--</tr>-->
        </form>
    </div>
</div>


<div class="container">
    <div class="row mt-4">
<!--        <div class="col">-->
            <div style="height: 270px; overflow-x:auto; width: 1200px; overflow-y:auto;">
                <h1>Please Enter Data for New Patient!</h1>
                <table>
                    <tr>
                        <th rowspan="2"><div align="center"> Name</div></th>
                        <th rowspan="2"><div align="center">Age</div></th>
                        <th rowspan="2"><div align="center">Miscarriages</div></th>
                        <th colspan="2"><div align="center">FVL Mutation</div></th>
                        <th colspan="2"><div align="center">Prothrombin Mutation</div> </th>
                        <th colspan="2"><div align="center">PAI I</div> </th>
                        <th colspan="2"><div align="center">MTHFR</div> </th>
                        <th colspan="2"><div align="center">Action</div></th>
                    </tr>
                    <tr>
                        <th>Hetero<br>zygous<br></th>
                        <th>Homo<br>zygous<br></th>
                        <th>Hetero<br>zygous<br></th>
                        <th>Homo<br>zygous<br></th>
                        <th>Hetero<br>zygous<br></th>
                        <th>Homo<br>zygous<br></th>
                        <th>Hetero<br>zygous<br></th>
                        <th>Homo<br>zygous<br></th>
                        <th></th>
                    </tr>

                        {% if not prida_mutations_form.instance.id %}
                    <tr>
                    {% include 'save.html' %}
                </tr>
                    {% endif %}
                </table>
            </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <form method="post" action="{% url 'proba1_eng' %}">
            <table>
                <tr>
                    <td>
    <!--                            {% csrf_token %}-->
                        <button name="btn_excel_extract" class="btn btn-primary btn-lg">
                            Export Data to Excel
                        </button>
                        <button name="btn_excel_extract1" class="btn btn-primary btn-lg" id="export_button">
                            Export Data to Excel1
                        </button>
    <!--                        <button name="submit" class="btn btn-primary btn-lg">-->
    <!--                            Calculate Number of Patients with Mutations-->
    <!--                        </button>-->

    <!--                            <script type="text/javascript" src="{% static 'js/xlsx_ex.js' %}">-->
    <!--                            </script>-->
    <!--                        </form>-->
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div class="container">
    <div class="row mt-5">
        <table>
        <tr>
            <td>
                <div class="container">
                    <div class="row mt-4">
                        <div class="col">
                            <form method="post" action="{% url 'conclusions' %}">
                                {% csrf_token %}
                                <button name="btn_conclusions" class="btn btn-primary btn-lg">
                                    Conclusions
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="container">
                    <div class="row mt-4">
                        <div class="col">
                            <form method="post" action="{% url 'calc_patients_more_mut_p' %}">
                                {% csrf_token %}
                                <button name="btn_patients_more_mutations" class="btn btn-primary btn-lg">
                                    Global Combined
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="container">
                    <div class="row mt-4">
                        <div class="col">
                            <form method="post" action="{% url 'new_patient' %}">
                                {% csrf_token %}
                                <button name="btn_enter_new_patient" class="btn btn-primary btn-lg">Enter New Patient</button>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <div class="container">
                    <div class="row mt-4">
                        <div class="col">
                            <form method="post" action="{% url 'preeclampsia1' %}">
                                {% csrf_token %}
                                <button name="btn_patients_more_mutations" class="btn btn-primary btn-lg">
                                    Results: Correlations
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    </div>
</div>
<!--    </div>-->

<div class="container">
    <div class="row mt-5">
        <form method="post" action="{% url 'proba1' %}">
            {% csrf_token %}
            <div style="height: 500px; overflow-x:auto;width: 1200px; overflow-y:auto;">
                <h1>Table with Patients</h1>
                <table>
                    <tr>
                        <th>
                            <div align="center">
                                ID
                            </div>
                        </th>
                        <th>
                            <div align="center">
                                Code
                            </div>
                        </th>

                        <th>
                            <div align="center">
                                Age
                            </div>
                        </th>
                        <th>
                            <div align="center">
                                Factor V Leiden
                                <br>
                                Normal Genotype
                            </div>
                        </th>
                        <th>
                            <div align="center">
                                Heterozygous
                                <br>
                                Factor V Leiden Mutation
                            </div>
                        </th>
                        <th>
                            <div align="center">
                                Homozygous
                                <br>
                                Factor V Leiden Mutation
                            </div>
                        </th>
                        <th>
                            <div align="center">
                                Factor II (Prothrombin)
                                <br>
                                Normal Genotype
                            </div>
                        </th>
                        <th>
                            <div align="center">
                                Factor II (Prothrombin)
                                <br>
                                Heterozygous Mutation
                            </div>
                        </th>
                        <th>
                            <div align="center">
                                Factor II (Prothrombin)
                                <br>
                                Homozygous Mutation
                            </div>
                        </th>
                        <th>
                            <div align="center">
                                PAI I
                                <br>
                                Normal Genotype
                            </div>
                        </th>
                        <th>
                            <div align="center">
                                PAI I
                                <br>
                                Heterozygous Mutation
                            </div>
                        </th>
                        <th>
                            <div align="center">
                                PAI I
                                <br>
                                Homozygous Mutation
                            </div>
                        </th>
                        <th>
                            <div align="center">
                                MTHFR
                                <br>
                                Normal Genotype
                            </div>
                        </th>
                        <th>
                            <div align="center">
                                MTHFR
                                <br>
                                Heterozygous Mutation
                            </div>
                        </th>
                        <th>
                            <div align="center">
                                MTHFR
                                <br>
                                Homozygous Mutation
                            </div>
                        </th>
                        <th>
                            <div align="center">
                                Miscarriages
                            </div>
                        </th>
                        <th>Action</th>
                    </tr>
                    {% if not prida_mutations_form.instance.id %}
                    <tr>
                        {% include 'save.html' %}
                    </tr>
                    {% endif %}
                    {% for pm in prida_mutations %}
                    <tr>
                        {% if prida_mutations_form.instance.id == pm.id %}
                        {% include 'save.html' %}
                        {% else %}
                        <td>{{ pm.id }}</td>
                        <td>{{ pm.code }}</td>
                        <td>{{ pm.age }}</td>

                        <td>{{ pm.fvl_ng }}</td>
                        <td>{{ pm.fvl_hetero }}</td>
                        <td>{{ pm.fvl_homo }}</td>

                        <td>{{ pm.prothr_ng }}</td>
                        <td>{{ pm.prothr_hetero }}</td>
                        <td>{{ pm.prothr_homo }}</td>

                        <td>{{ pm.pai_ng }}</td>
                        <td>{{ pm.pai_hetero }}</td>
                        <td>{{ pm.pai_homo }}</td>

                        <td>{{ pm.mthfr_ng }}</td>
                        <td>{{ pm.mthfr_hetero }}</td>
                        <td>{{ pm.mthfr_homo }}</td>

                        <td>{{ pm.abort }}</td>

                        <td>
                            <button formnovalidate name="edit" value="{{ pm.id }}" class="btn btn-primary btn-lg">Edit</button>
                            <button formnovalidate name="delete" value="{{ pm.id }}" class="btn btn-primary btn-lg">Delete</button>
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="row mt-4">
        <form>
            <table>
            <tr>
                <td>
                    <h1>Legenda</h1>
                </td>
            </tr>
            <tr>
                <td>
                    0.0 - No Mutation
                </td>
            </tr>
            <tr>
                <td>
                    1.0 - Mutation
                </td>
            </tr>
            </table>
        </form>
    </div>
</div>
</body>


{% endblock %}